@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

@layer components{
  .container{
    @apply mx-auto px-4 xl:px-8 2xl:px-16;
  }
  .navbar-social-link{
    @apply hover:scale-90 hover:text-blue-300 transition-all duration-300;
  }
  .cart-info-list{
    @apply hover:text-blue-500 transition-colors duration-300;
  }
  .cart-social-list{
    @apply w-8 h-8 flex justify-center items-center border-2 border-blue-900 text-blue-900 rounded-full hover:bg-blue-900 hover:text-white hover:scale-90 transition-all duration-300 ease-in-out;
  }
  .second-font{
    font-family: "Quicksand", sans-serif;
  }
  .main-btn{
    @apply py-2 px-4 bg-blue-600 hover:bg-blue-900 text-white flex items-center gap-2 rounded-3xl transition-colors duration-300 ease-in-out;
  }
  .main-btn span{
    @apply ml-1 capitalize text-base sm:text-lg;
  }
  .footer-list-links{
    @apply text-slate-300 capitalize hover:text-blue-300 hover:scale-105 hover:font-semibold transition-all duration-300 ease-in-out;
  }
  .footer-title{
    @apply text-white text-2xl font-bold capitalize;
  }
  .footer-contactinfo-list{
    @apply flex flex-col gap-1 mb-4;
  }
  .footer-contactinfo-subtitle{
    @apply text-white capitalize font-semibold;
  }
  .footer-contactinfo-text{
    @apply text-slate-300 hover:text-blue-300 transition-colors duration-300 ease-in-out;
  }
  .footer-social-list{
    @apply text-white hover:text-blue-300 hover:scale-90 transition-all duration-300 ease-in-out;
  }
  .btn-back-top{
    @apply fixed bottom-4 right-4 sm:bottom-6 sm:right-6 bg-blue-900 hover:bg-blue-600 text-white w-10 h-10 sm:w-12 sm:h-12 flex justify-center items-center rounded-full transition-colors duration-300 ease-in-out cursor-pointer animate-bounce z-30;
  }
}